aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
discord.py==1.7.3
Flask==2.0.1
idna==2.10
multidict==5.1.0
portalocker==2.3.0
python-dotenv==0.17.1
typing-extensions==3.10.0.0
yarl==1.6.3
waitress==2.0.0